@import "../../Assets/variables";

.Input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 48%;

  .inputLabel {
    margin-bottom: 8px;
    font-weight: bold;
  }

  .inputField {
    padding: 8px;
    font-size: $defaultTextSize;
    border: 1px solid $borderColor;
    border-radius: 4px;
    outline: none;

    &:focus {
      border-color: firstColor;
    }
  }
}
