//Variables colors
$white: #fff;
$red: #ff6666;
$green: #00cc66;
$backgroundColor: #fafafa;
$borderColor: #ccc;
$firstColor: #1a5b46;

//Variables Fonts
$defaultTextSize: 16px;
$titleTextSize: 30px;
$subTitleTextSize: 20px;
